.hero-buttons {
    display: flex;
    gap: 0px;
    margin-top: 0px;
}

.btn {
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 10px;
    font-weight: 600;
    transition: 0.3s;
}

.home-btn-primary {
    background: white;
    color: var(--color-primary);
}

.home-btn-primary:hover {
    background: var(--color-primary-light);
    color: white;
}

.btn-secondary {
    border: 0px solid white;
    color: white;
}

.btn-secondary:hover {
    background: white;
    color: #0f172a;
}
